<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberDAO">
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER 
		VALUES (#{id}, #{password}, #{name}, #{nickname}, #{email}, #{phone})
	</insert>
	
	<select id="getMember" parameterType="String" resultType="member">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET NICKNAME = #{nickname}, EMAIL = #{email}, PHONE = #{phone}
		WHERE ID = #{id}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE * FROM MEMBER WHERE ID = #{id}
	</delete>
	
	<!-- 원래는 아이디와 비밀번호가 둘 다 일치하도록 조건문을 달았는데, 암호화 기능을 넣고 나서는 아이디만 일치하도록 조건문을 바꿈 -->
	<select id="login" parameterType="logvo" resultType="member">
		SELECT * FROM MEMBER WHERE ID = #{id}
	</select>
	
	<select id="checkId" parameterType="String" resultType="int">
		SELECT COUNT(ID) FROM MEMBER WHERE ID = #{id}
	</select>
	
	<select id="checkNickname" parameterType="String" resultType="int">
		SELECT COUNT(ID) FROM MEMBER WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="checkPw" parameterType="logvo" resultType="int">
		SELECT COUNT(ID) FROM MEMBER WHERE ID = #{id} and PASSWORD = #{password}
	</select>
	
	<select id="updatePw" parameterType="Map">
		UPDATE MEMBER 
		SET PASSWORD = #{password} 
		WHERE ID = #{id}
	</select>
</mapper>