<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mylikeDAO">
	
	<select id="selectLike" parameterType="mylike" resultType="Integer">
		SELECT COUNT(*) FROM MYLIKE
		WHERE ID = #{id} AND RECIPENO = #{recipeno}
	</select>
	
	<insert id="insertMylike" parameterType="mylike">
		INSERT INTO MYLIKE
		VALUES (#{id}, #{recipeno})
	</insert>
	
	<delete id="deleteMylike" parameterType="mylike">
		DELETE FROM MYLIKE
		WHERE ID = #{id} AND RECIPENO = #{recipeno}
	</delete>
	
	<!-- 다중 서브쿼리문에 주의! -->
	<select id="getMylikeList" parameterType="String" resultType="recipe">
		SELECT * FROM RECIPE
		WHERE RECIPENO IN (SELECT RECIPENO FROM MYLIKE WHERE ID = #{id}) 
	</select>
	
	<select id="countMylike" parameterType="String" resultType="int">
		SELECT COUNT(RECIPENO) FROM MYLIKE
		WHERE ID = #{id}
	</select>
	
	<select id="selectMylike" parameterType="paging" resultType="recipe">
		SELECT * FROM
			(SELECT RECIPE.*, 
			ROW_NUMBER() OVER(ORDER BY RECIPENO DESC) AS RNUM
			FROM RECIPE WHERE RECIPENO IN (SELECT RECIPENO FROM MYLIKE WHERE ID = #{id})
			) RECIPE
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countMylikeC" parameterType="Map" resultType="int">
		SELECT COUNT(RECIPENO) FROM RECIPE 
		WHERE CATEGORY = #{category} 
		AND RECIPENO IN (SELECT RECIPENO FROM MYLIKE WHERE ID = #{id}) 
	</select>
	
	<select id="selectMylikeC" parameterType="paging" resultType="recipe">
		SELECT * FROM
			(SELECT RECIPE.*, 
			ROW_NUMBER() OVER(ORDER BY RECIPENO DESC) AS RNUM
			FROM RECIPE WHERE CATEGORY = #{category} AND RECIPENO IN (SELECT RECIPENO FROM MYLIKE WHERE ID = #{id})
			) RECIPE
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
</mapper>